@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary: var(--azul); /* Azul principal */
    --secondary: var(--cinza-medio); /* Cinza médio */
    --success: var(--azul-escuro); /* Azul escuro */
    --info: var(--cinza-claro); /* Cinza claro */
    --warning: var(--azul); /* Mantendo azul como destaque */
    --danger: var(--preto); /* Preto para alertas */
    --white: var(--branco); /* Branco para textos e fundos */
    --background: var(--azul-escuro); /* Fundo principal */
    --text-color: var(--branco); /* Cor principal do texto */
 
}
* {
    text-decoration: none !important;
}
.logo {
    font-size: 1.5rem; /* Aumenta o tamanho da fonte */
    font-weight: 700; /* Deixa mais marcante */
    color: var(--branco); /* Mantém o texto branco */
    text-transform: uppercase; /* Deixa em caixa alta */
    letter-spacing: 1px; /* Espaçamento entre letras */
}

.logo span {
    color: var(--azul); /* Destaque azul para parte do logo */
    font-weight: 800;
}

body {
    background-color: var(--background);
    color: var(--text-color);

}

.navbar, .sidebar {
    background-color: var(--primary);
    color: var(--white);
}

.nav-link {
    color: var(--white) !important;
}

.nav-link:hover {
    color: var(--warning) !important;
}

.bg-primary, .btn-primary {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.bg-secondary, .btn-secondary {
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
}

.bg-success, .btn-success {
    background-color: var(--success) !important;
    border-color: var(--success) !important;
}

.bg-info, .btn-info {
    background-color: var(--info) !important;
    border-color: var(--info) !important;
}

.bg-warning, .btn-warning {
    background-color: var(--warning) !important;
    border-color: var(--warning) !important;
}

.bg-danger, .btn-danger {
    background-color: var(--danger) !important;
    border-color: var(--danger) !important;
}

.card {
    background-color: var(--cinza-claro);
    border: 1px solid var(--cinza-medio);
    color: var(--preto);
}

.btn {
    font-weight: bold;
}
