<div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">

        <img src="http://localhost:3000/img/banners/1698360228887.jpg" class="d-block w-100">

        <div class="carousel-caption d-none d-md-block">
            <h5>Venha visitar nosso campus</h5>
            <p>Venha visitar nosso campus</p>
            <a class="btn btn-primary azul" href="#" role="button">Saiba Mais</a>
        </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000"></div>

    <img src="http://localhost:3000/img/banners/1698360257775.jpg" class="d-block w-100">

    <div class="carousel-caption d-none d-md-block">
        <h5>Inscrições abertas</h5>
        <p>Inscrições abertas</p>
        <a class="btn btn-primary azul" href="#" role="button">Saiba Mais</a>
    </div>
</div>
<div class="carousel-item" data-bs-interval="3000"></div>

<img src="http://localhost:3000/img/banners/1698362650118.jpg" class="d-block w-100">

<div class="carousel-caption d-none d-md-block">
    <h5>Semana nacional de educação</h5>
    <p>Semana nacional de educação</p>
    <a class="btn btn-primary azul" href="#" role="button">Saiba Mais</a>
</div>
</div>